##ANS 1

In [1]:
def is_power_of_two(n):
    if n <= 0:
        return False
    return n & (n - 1) == 0


print(is_power_of_two(1))  
print(is_power_of_two(16))   
print(is_power_of_two(3))

True
True
False

##ANS 2

In [3]:
def sum(n):
    return (n * (n + 1)) / 2


print(sum(3))
print(sum(5))

6.0
15.0

##ANS 3

In [4]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n - 1)

print(fact(5))
print(fact(4))

120
24

##ANS 4

In [5]:
def find_exponent(N, P):
    return N ** P

print(find_exponent(2, 5))  
print(find_exponent(5, 2))

32
25

##ANS 5

In [6]:
def find_max(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_max(arr[1:]))

print(find_max([1, 4, 3, -5, -4, 8, 6])) 
print(find_max([1, 4, 45, 6, 10, -8]))

8
45

##ANS 6

In [7]:
def find_nth_term(a, d, N):
    return a + (N - 1) * d

print(find_nth_term(2, 1, 5))
print(find_nth_term(5, 2, 10))

6
23

##ANS 7

In [9]:
def permute_string(s):
    
    if len(s) == 0:
        return []

    
    if len(s) == 1:
        return [s]

    permutations = [] 

   
    for i in range(len(s)):
       
        current_char = s[i]

   
        remaining_chars = s[:i] + s[i+1:]
        sub_permutations = permute_string(remaining_chars)

        
        for sub_permutation in sub_permutations:
            permutations.append(current_char + sub_permutation)

    return permutations


string = "abc"
permutations = permute_string(string)
for permutation in permutations:
    print(permutation)

abc
acb
bac
bca
cab
cba

##ANS 8

In [10]:
def product_of_array(arr):
    product = 1
    for num in arr:
        product *= num
    return product


print(product_of_array([1, 2, 3, 4, 5]))
print(product_of_array([1, 6, 3]))

120
18